/CatchIn/build/
/CatchInTeste/dist/
*.xml
*.properties
*.xml
*.properties
*.xml
*.properties
*.xml
*.xml
*.xml
*.xml
*.xml
*.xml
*.dpf
*.dpf
*.dpf
*.properties
*.xml
*.properties
CatchInTeste/build/web/gfv3ee6.dpf
CatchInTeste/nbproject/private/private.xml
*.class
*.class
